name: pipeline simples
on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ master ]  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do repositório
        uses: actions/checkout@v4
      
      - name: 2. Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: 3. Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: 4. Rodar Linter (Flake8)
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      
      - name: 5. SAST - Bandit (Segurança do Código)
        run: |
          pip install bandit
          bandit -r . -ll
        continue-on-error: true
      
      - name: 6. SAST - Safety (Vulnerabilidades)
        run: |
          pip install safety
          safety check
        continue-on-error: true
      
      - name: 7. Rodar Testes (Pytest)
        run: pytest

      - name: 8. DAST - Preparar Servidor
        run: |
          python -m http.server 8000 &
          sleep 3
      
      - name: 9. DAST - OWASP ZAP Scan
        run: |
          docker run --network="host" \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py -t http://localhost:8000
        continue-on-error: true